/*https://uicookies.com/css-buttons/
https://codepen.io/atloomer/pen/JEaRWX*/
body {
  font-family: sans-serif;
}
.button {
  visibility: hidden;
  pointer-events: none;
  display: inline-flex;
  height: 10px;
  width: 150px;
  border: 1px solid #666;
  border-radius: 2.5%;
  margin: 20px 20px 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button:active {
  transform: translateY(1px);
}
a {
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
}
#center-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.5s ease-Out;
}
#center-button a {
  top: 0;
  transition: all 0.25s ease-Out;
}
#empty {
  width: 100%;
  height: 100%;
  top: -2000px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-Out;
}
#center-button img {
  width: 20px;
  height: auto;
}
#center-button:hover a {
  top: 2000px;
}
#center-button:hover #empty {
  top: 0;
}
#right-button {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.5s ease-Out;
}
#right-button a {
  left: 0;
  transition: all 0.25s ease-Out;
}
#right-arrow {
  width: 100%;
  height: 100%;
  left: -2000px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-Out;
  bottom: 0;
}
#right-button img {
  width: 20px;
  height: auto;
}
#right-button:hover #right-arrow {
  left: 0;
}
#right-button:hover a {
  left: 2000px;
}
#left-button {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease-Out;
}
#left-button a {
  right: 0;
  transition: all 0.25s ease-Out;
}
#left-arrow {
  width: 100%;
  height: 100%;
  left: 2000px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-Out;
  bottom: 0;
}
#left-button img {
  width: 20px;
  height: auto;
}
#left-button:hover #left-arrow {
  left: 0;
}
#left-button:hover a {
  right: 2000px;
}
