body {
  user-select: none;
}

#leaderboard {
  position: fixed;
  top: 10;
  right: 20;
}

/* https://codepen.io/giana/pen/BZaGyP
Size can also be negative; see how it's smaller than the element*/
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/*Modal css*/

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 15px;
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  border-radius: 15px 15px 0px 0px;
  padding: 2px 16px;
  background-color: #aaa;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-title {
  font-size: 36px;
  font-family: Calibri;
  text-align: justify;
  text-justify: inter-word;
}

.modal-inside {
  font-size: 20px;
  font-family: Calibri;
  text-align: justify;
  text-justify: inter-word;
}

div.li {
  font-size: 16px;
  font-family: Calibri;
  text-align: justify;
}

/*Tool tip css*/
.tooltip {
  top: 20;
  right: 260;
  position: fixed;
}

.tooltiptext {
  visibility: hidden;
  width: 133px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  font-weight: normal;
  font-family: Calibri;
  /* Fade in tooltip - takes 0.5 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*Slider
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

/*
input:focus + .slider {
}*/

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#enable_2D {
  position: fixed;
  top: 107;
  right: 30;
}

#enable_2D_label {
  font-size: 20px;
  font-family: Calibri;
  position: fixed;
  top: 110;
  right: 110;
}

/* Normal white Button as seen on Google.com*/
.credits button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-family: Calibri;
  font-size: 10pt;
  outline: none;
}

.credits button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

.credits button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}

.credits {
  position: fixed;
  font-family: Calibri;
  bottom: 10;
  right: 20;
}

#github {
  vertical-align: top;
}
