.btn-default {
  background: #fff !important;
}
.picker-wrapper {
  transition: background-color 0.5s ease;
}

.color-picker {
  z-index: 1;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid rgba(203, 203, 203, 0.6);
  border-radius: 2px;
}
.color-picker > div {
  width: 40px;
  display: inline-block;
  height: 40px;
  margin: 5px;
  border-radius: 100%;
  opacity: 0.7;
}
.picker-wrapper {
  padding: 20px;
}
.color-picker > div:hover {
  opacity: 1;
}
