.gif {
  margin-top: -45px;
  position: absolute;
  animation-name: FadeOutAnim;
  animation-duration: 2000ms;
}

/*https://stackoverflow.com/questions/39513705/make-html-element-disappear-with-css-animation*/
@keyframes FadeOutAnim {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.60;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
